<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
<connectionStrings>
	<add name="ProductClassificationEntities"
      connectionString="metadata=res://*/ProductClassification.csdl|res://*/ProductClassification.ssdl|res://*/ProductClassification.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.16.150;initial catalog=ProductClassification;user id=sa;password=3512;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
</connectionStrings>